<!-- templates/centre.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"> <!-- Added Favicon -->
  <meta charset="UTF-8">
  <title>Center Referee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet"> <!-- Corrected Path -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
<div class="home-icon">
  <a href="/">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
</div>

<h1 class="title">Center Referee</h1>

<div class="button-container">
  <button id="whiteButton" class="action-button white">Good Lift</button>
  <button id="redButton" class="action-button red">No Lift</button>
  <button id="startTimerButton" class="action-button">Platform Ready</button>
  <button id="stopTimerButton" class="action-button">Stop Timer</button>
  <button id="resetTimerButton" class="action-button">Reset</button>
</div>

<div class="logo-container">
  <img src="/static/images/zerow_white.png" alt="zerow logo">
</div>

<script> var websocketUrl = "{{ .WebsocketURL }}"; </script>

<script src="/static/js/centre.js"></script>

</body>
</html>
