<!-- templates/centre.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"> <!-- Added Favicon -->
  <meta charset="UTF-8">
  <title>Center Referee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet"> <!-- Corrected Path -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
<div class="home-icon">
  <a href="/">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
</div>

<h1 class="title">Center Referee</h1>

<div class="button-container">
  <button onclick="goodLift('centre')" class="action-button white">Good Lift</button>
  <button onclick="noLift('centre')" class="action-button red">No Lift</button>
  <button onclick="startTimer()" class="action-button">Platform Ready</button>
  <button onclick="stopTimer()" class="action-button">Stop Timer</button>
  <button onclick="resetTimer()" class="action-button">Reset</button>
</div>

<div class="logo-container">
  <img src="/static/images/zerow-pro.png" alt="zerow logo"> <!-- Corrected Path -->
</div>

<!-- Define websocketUrl -->
<script>
  var websocketUrl = "{{ .WebsocketURL }}";
</script>
<script src="/static/js/websocket.js"></script>
<script src="/static/js/lights.js"></script>

</body>

</html>
