<!-- templates/choose_meet.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Choose Meet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
{{template "header.html" .}}
<h1>Select a Meet</h1>

<div class="button-container">
  <form action="/set-meet" method="POST">
    <label for="meetSelect">Choose your meet:</label>
    <select name="meetName" id="meetSelect">
      <option value="">-- Please select a meet --</option>
      {{range .availableMeets}}
      <option value="{{.Name}}">{{.Name}}</option>
      {{end}}

      <!-- Add this "Sudo" option at the bottom (or top) -->
      <option value="Sudo">Sudo (Superuser)</option>
    </select>
    <div>
      <input type="submit" value="Proceed" class="action-button" />
    </div>
  </form>
</div>

<div class="logo-container">
  <img src="/static/images/APL_logo white apl logo HQ.png" alt="apl logo">
</div>
</body>
</html>
