<!-- templates/header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
<header class="site-header">
    <nav class="nav-container">
        <!-- logout -->
        <form action="/logout" method="GET" class="nav-form">
            <button type="submit" class="nav-button">Logout</button>
        </form>

        <!-- reset meet -->
        <form action="/reset-instance" method=POST class="nav-form">
            <input type="hidden" name="meetName" value="{{ .meetName }}">
            <button type="submit" class="nav-button">Reset Meet</button>
        </form>
    </nav>
</header>
</body>
</html>
