<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

  {{template "header.html" .}}

<h1>Scan To Log-in</h1>

<!--QR Code container-->
<div class="qr-code-container">
  <img src="/qrcode" alt="QR Code">
</div>

<!--button container: lights or select ref positions-->
<div class="button-container">
  <a href="/lights" class="button-link">Lights</a>
  <a href="/positions" class="button-link">Select Referee Position</a>
</div>

  {{ if .isAdmin }}
  <a href="/admin?meet={{ .meetName }}" class="btn btn-primary">
    Admin Panel
  </a>
  {{ end }}

<!--APL logo container-->
<div class="logo-container">
  <img src="/static/images/APL_logo white apl logo HQ.png" alt="apl logo">
</div>

</body>
</html>