<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

  {{template "header.html" .}}

<h1>Meet: {{ .MeetName }}</h1>

<!--QR Code container-->
<div class="qr-container">
  <img src="/qrcode?meetName={{.meetName}}&position=left" alt="Left Ref QR" />
  <img src="/qrcode?meetName={{.meetName}}&position=center" alt="Center Ref QR" />
  <img src="/qrcode?meetName={{.meetName}}&position=right" alt="Right Ref QR" />
</div>

<p>Scan the LEFT code for left referee, CENTER code for center, RIGHT code for right.</p>

<!--button container: lights or select ref positions-->
<div class="button-container">
  <a href="/lights" class="button-link">Lights</a>
  <a href="/positions" class="button-link">Select Referee Position</a>
  {{ if .isAdmin }}
  <a href="/admin" class="button-link">Admin Panel</a>
  {{ end }}
</div>

<!--APL logo container-->
<div class="logo-container">
  <img src="/static/images/APL_logo white apl logo HQ.png" alt="apl logo">
</div>

</body>
</html>
