<!-- templates/lights.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Referee Lights</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

  {{template "header.html" .}}

<div id="meetName" data-meet-name="{{ .meetName }}" style="display: none;"></div>

<p id="visibleMeetName">{{ .meetName }}</p>

<!-- Platform Ready Timer -->
<div id="platformReadyTimerContainer" class="timer-container hidden">
  <div class="timer" id="title">Platform Ready:</div>
  <div id="timer" class="timer">60s</div>
</div>

<!--Lights container-->
<div class="container">
  <div id="leftCircle" class="circle"></div>
  <div id="centerCircle" class="circle"></div>
  <div id="rightCircle" class="circle"></div>
</div>

<!--judge indicators-->
<div class="judge-indicators">
  <div id="leftIndicator" class="indicator" title="Left Judge"></div>
  <div id="centerIndicator" class="indicator" title="center Judge"></div>
  <div id="rightIndicator" class="indicator" title="Right Judge"></div>
</div>

<div id="message" class="message"></div>

<!-- next attempt timer -->
<div id="multiNextAttemptTimers" class="hidden" style="margin-top: 20px;"></div>

<!--APL logo-->
<div class="logo-container">
  <img src="/static/images/APL_logo white apl logo HQ.png" alt="apl logo">
</div>

<!-- connection Status -->
<div id="connectionStatus" class="connection-status"></div>

<!-- Global configuration variables (make sure these are set before lights.js loads) -->
<script>
  let meetName = "{{ .meetName }}";  // Global meet name.
  const websocketUrl = "{{ .WebsocketURL }}?meetName={{ .meetName }}";
</script>

<script src="/static/js/lights.js"></script>

</body>
</html>
