<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Referee Lights - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

<div class="login-container">
  <h1>Referee Lights</h1>
  <a href="/auth/google/login">
    <button class="google-login-button">Sign in with Google</button>
  </a>
</div>

<div class="logo-container">
  <img src="/static/images/apl_logo.png" alt="apl logo">
</div>

</body>
</html>
