<!-- templates/right.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Right Referee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="home-icon"><a href="/"><i class="fa fa-arrow-left"></i></a></div>
<h1 class="title">Right Referee</h1>

<!--connection Health status-->
<div id="healthStatus" style="margin-top:10px; font-size:18px;">Disconnected</div>

<!--Ref decision button container-->
<div class="button-container">
  <button id="whiteButton" class="action-button white">Good Lift</button>
  <button id="redButton" class="action-button red">No Lift</button>
</div>

<script>
  var websocketUrl = "{{ .WebsocketURL }}?meetName={{ .meetId }}";
  var judgeId = "right";
  var meetId = "{{ .meetId }}";
</script>

<script src="/static/js/referee-common.js"></script>

</body>
</html>
